@model QLTA.Models.MonAn

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThucAn.TenTL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThucAn.TenTL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiNau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiNau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
