@model IEnumerable<QLTA.Models.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>

<table class="table">
    <tr class="bg-success text-white">
        <th>
            @Html.DisplayNameFor(model => model.TenMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
            </tr>
        }*@

</table>